body{
    display: flex;
    flex-direction: column;
    background-color: var(--primary-paleBlue-color);
    background-image: url(../../images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 10px;
}