body{
    max-width: 1440px;
}
.attribution {
    position: fixed;
    bottom: 10px;
    right: 50%;
    transform: translateX(50%);
}
@media (max-width: 420px){
     body{
    max-width: 375px;
}
}
@media (max-width:768px) {
    .attribution {
        display:none;
}
}
