:root{
    --primary-paleBlue-color:hsl(225, 100%, 94%);
    --primary-brightBlue-color:hsl(245, 75%, 52%);
    --neutral-veryPaleBlue-color:hsl(225, 100%, 98%);
    --neutral-desaturatedBlue-color:hsl(224, 23%, 55%);
    --neutral-darkBlue-color:hsl(223, 47%, 23%);
}